*{
    margin: 0;
    padding:0 ;
}
body{
    background-color: skyblue;
    text-align: center;
}
img{
    width: 160px; /* Ajusta el tamaño deseado */
    height: 160px; /* Ajusta el tamaño deseado */
    border-radius: 60%; 
    margin-left: 50px;
    border-color: red;
}
a{
    border-color: red;
    padding: 4px;
}
.encabezado{
    padding: 15px;
    background-color: red;
}
li{
    list-style: none;
    text-align: center;
}
li a{
    text-decoration-line: none;
    margin: 12px;
}
li a:hover{
    background-color: black;
    color: white;
}
h2{
    text-align: center;
}
.container{
    text-align: center;
}
.adicional{
    text-align: justify;
    text-align: center;
}
 /* Estilos para ocultar la información inicialmente */
 .info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 15s ease-out;
}
   /* Estilos para el botón "Ver menos" */
.ver-menos {
   display: none;
    }
